body, h1, h2, h3, p {
  font-family: Georgia,"Times New Roman",Times,serif;
  color: #3B3B3B;

}
h1, h2, h3 {
  font-weight: normal;
  text-transform: uppercase;  
}
h1 {
  font-size: 40px;
  margin: 0 0 10px;
}
body.front h1 {
    text-align: center;
}
p {
  line-height: 1.2;
}
header.header,
div.main-container,
footer
{
  margin: 20px auto;
  max-width: 740px;
  width: 100%;
}
header.header {
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #999999;  
}
div.main-container {
  margin-top: 0;
  max-width: 740px;
  border-bottom: 1px solid #999999;
}
body.front div.main-container div.content div.node .field-name-field-image {
  text-align: center;
}
body.front div.main-container div.content div.node {
  padding-top: 20px;
  border-top: 1px solid #999999;
}

footer {
  text-align: center;
}
header.header ul.menu {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none outside none;
}
header.header ul.menu li {
  display: inline-block;
  margin: 0;
  padding: 0;  
  height: auto;
  overflow: hidden;
  list-style-type: none;
}
header.header ul.menu li a {
  font-family: Georgia, "Times New Roman";
  font-size: 14px;
  line-height: 22px;
  text-rendering: optimizelegibility;
  color: #222222;
  margin: 0;
  padding: 20px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  display: block;
}
img {
  height: auto;
  max-width: 100%;
  border: 0 none;
}