/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */
/**
*Colors:
* Yellow: #ffcb04
* Green: #a6ce38
* Blue: #00a1e4
* Purple: #c657a0
* Red: #ed1c24
*/
body {

}

a {
color: #00a1e4;
}

.top-links ul li {
  float: left;
}

#page-top a.logo img {
  max-width: 70%;
}
#page-top .navbar-btn {
    margin-bottom: 15px;
    margin-top: 15px;
}

#navbar-container {
  margin-bottom: 0px;
  /*  background-color: #f8f8f8; */background: rgb(76,76,76); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRjNGM0YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUyJSIgc3RvcC1jb2xvcj0iIzExMTExMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0YzRjNGMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(76,76,76,1) 0%, rgba(17,17,17,1) 52%, rgba(76,76,76,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,1)), color-stop(52%,rgba(17,17,17,1)), color-stop(100%,rgba(76,76,76,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(17,17,17,1) 52%,rgba(76,76,76,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(17,17,17,1) 52%,rgba(76,76,76,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(17,17,17,1) 52%,rgba(76,76,76,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(76,76,76,1) 0%,rgba(17,17,17,1) 52%,rgba(76,76,76,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#4c4c4c',GradientType=0 ); /* IE6-8 */
} 
#navbar-container #navbar {
  margin-top: 0px;
  margin-bottom: 0px;
}
#navbar-container .navbar-default {
  background-color: transparent; 
  border-color: none;
  border: 0;
} 
#navbar-container .navbar-collapse {
  padding: 0;
}
#navbar-container .navbar-default .navbar-nav > li {
  border-right: 1px solid #666666;
}
#navbar-container .navbar-default .navbar-nav > li.first {
  border-left: 1px solid #666666;
}
#navbar-container .navbar-default .navbar-nav > li > a {
	color: white;
	font-weight: normal;
	font-size: 18px;
}

#navbar-container .navbar-default .navbar-nav > .active > a, 
#navbar-container .navbar-default .navbar-nav > .active > a:hover, 
#navbar-container .navbar-default .navbar-nav > .active > a:focus {
  background-color: #111111;
}
.navbar.container {
  max-width: 100%;
}

.main-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer {
  background-color: #E5E5E5;
  margin: 0;
}