

#main-container {
    background-color: $content-bg;
    padding-bottom: 40px;
    .breadcrumb {
        background-color: transparent;
        margin-bottom: 0;
        margin-top: 5px;
        padding: 8px 0;

        li {
            font-size: 10pt;
            a { font-size: 10pt; }
        }
    }

    h1.page-header {
        margin-top: 20px;
        margin-bottom: 10px;
        border: 0;
    }



    #page-header {
        #block-block-3 {
            margin-bottom: 20px;
            .content {
                background: url("/sites/default/files/start-page-image.png") center center no-repeat;
                background-size: 100% 100%;
                display: table;
                padding: 40px;

                @include respond-to-many(desktop, large-desktop) {
                    height: 300px;
                }
                @include respond-to-many(phone, tablet-portrait) {
                    padding: 20px 15px;
                    margin: 0 -15px;
                }
                @include respond-to-many(tablet-portrait) {
                    padding: 40px 15px;

                }
                h1 {
                    /*text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6); */
                    display: table-cell;
                    margin: 0;
                    vertical-align: middle;
                    padding: 0;
                    @include respond-to(phone) {
                        font-size: 20px;
                    }
                    @include respond-to(tablet-portrait) {
                        font-size: 22px;
                    }
                }
            }
        }
    }
    .start-page-content {
        margin-bottom: 30px;
        p {
            @include respond-to-many(desktop, large-desktop) {
                font-size: 16pt;
            }
        }
    }


    .start-page-articles {
        .views-row {
            margin-bottom: 20px;
            max-width: 460px;
            position: relative;
            .views-field-field-thumb {
                img {
                    outline: 1px solid #eee;
                }
            }
            .views-field-title {
                position: absolute;
                z-index: 15;
                bottom: 10px;
                right: 10px;
                left: 10px;
                margin: 0 10px;
                background-color: rgba(255,255,255,0.8);
                h2 {
                    text-align: center;
                    a {
                    }
                    margin: 10px;
                }
            }
        }
    }


    .view-kontaktpersoner {
        .view-content {
            margin-top: 30px;
            border-top: 1px solid $gray-lighter;

            .views-field-picture {
                margin-left: 20px;
            }
        }
    }

    @import '_services';

    .view-expertise {
        .views-field-field-image {
            text-align: center;
            img {
                max-width: 80%;
            }
        }
        h3 {
            text-align: center;
            margin-bottom: 40px;
        }
    }

}

