.start-page-articles {

}

#main-container {
    background-color: $content-bg;
    padding-bottom: 40px;
    .breadcrumb {
        background-color: transparent;
        margin-bottom: 0;
        margin-top: 5px;
        padding: 8px 0;

        li {
            font-size: 10pt;
            a { font-size: 10pt; }
        }
    }

    h1.page-header {
        margin-top: 20px;
        margin-bottom: 10px;
        border: 0;
    }

}
