footer#footer-container {
    padding-bottom: 20px;
    padding-top: 30px;
    border-top: 1px solid $gray-lighter;
    background-color: $footer-bg;
    .content {
        p, span {
            color: invert($text-color);
        }
    }
}
