header#header-container {
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: $gray-lighter;

    .navbar-brand {
        padding-top: 0;
        padding-bottom: 0;
        height: auto;

    }

}
