.navbar-wappo {

    border: 0;
    background: transparent;
    margin-bottom: 0px;
    margin-top: 20px;

    .navbar-collapse {
        border-top: 0;
    }

    ul.menu {
        @extend .nav;
        @extend .navbar-nav;
        @include respond-to-many(tablet-landscape, desktop, large-desktop) {
            float: right;
        }
        .active-trail,
        .active {
            font-weight: bold;
        }
        li {
            border-top: 1px solid white;
            @include respond-to-many(tablet-landscape, desktop, large-desktop) {
                border-top: 0;
            }
            a:hover {
                background-color: transparent;
                text-decoration: underline;
            }
        }
    }
}
