html {
    height: 100%;
    body {
        height: 100%;
        #page-wrapper {

            background-color: $page-bg;
            min-height: 100%;


           h1, h2, h3, h4 {
              font-family: 'Arvo', serif;
              /*font-family: "Georgia","Times New Roman","Times","serif";*/
              font-weight: bold;
              line-height: normal;
            }
            h1 {
                font-size: 24pt;
                color: $h1-color;
                a.normal {
                    color: $h1-color;
                }
/*                text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);*/
            }
            h2 {
                font-size: 18pt;
                color: $h2-color;
                a.normal {
                    color: $h2-color;
                }
            }
            h3 {
                font-size: 16pt;
                color: $h3-color;
                a.normal {
                    color: $h3-color;
                }
            }
            h4 {
                font-size: 14pt;
                color: $h4-color;
                a.normal {
                    color: $h4-color;
                }
            }
            li a,
            .content span, li,
            p {
                font-family: 'Droid Sans', sans-serif;
                color: $text-color;
                font-size: 12pt;
                line-height: normal;
                a.normal {
                   color: $text-color;
                }
            }
            img { max-width: 100%; }


        }


        @import "_navigation";
        @import "_header";
        @import "_content";
        @import "_footer";

    }
}
