$page-bg:               #292929;
$header-bg:             #fff;
$content-bg:            #fff;
$footer-bg:             #292929;

$text-color:             #3B3B3B;
$h1-color:               #ff962c;
$h2-color:               #3B3B3B;
$h3-color:               #3B3B3B;
$h4-color:               #3B3B3B;
